<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/6_Clase_5/src/clase_5_areglos_objetos/Ejercicio_5_6.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="clase_5_areglos_objetos.Ejercicio_5_6"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="6_Clase_5"/>
</launchConfiguration>
